name: Python Lint

on:
  workflow_call:
    inputs:
      environment_file:
        description: filename of conda env file
        required: false
        type: string
        default: environment.yml
      module_name:
        type: string
        description: the name of the source code module to document
        required: true

jobs:
  generate-docs:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      # Configure conda
      - name: Set up micromamba
        uses: mamba-org/provision-with-micromamba@5fe88d370c741fc3567126d17c5af0b9620bd60d
        with:
          environment-file: ${{ inputs.environment_file }}
          environment-name: document

      - name: Cache pip downloads
        uses: actions/cache@v3
        with:
          path: "~/.cache/pip"
          key: "pip-${{ hashFiles('setup.cfg') }}"
          restore-keys: |
            pip-${{ hashFiles('setup.cfg') }}
            pip-

      - name: Log in to AWS CodeArtifact
        run: |
          aws codeartifact login --tool pip --repository charm-pypi --domain charm-pypi \
          --domain-owner ${{ secrets.AWS_ACCOUNT_ID }} --region eu-west-1

      - name: Install package
        run: python -m pip install .[tests]

      - run: python -m pip install pdoc

      - name: Generate documentation
        run: python -m pdoc ${{ inputs.module_name }} --docformat google --output-directory html_docs

      - name: Upload to s3 (dry run)
        run: |
          VERSION=${{ github.ref_name }}
          echo $VERSION
          aws s3 sync --dryrun html_docs/ s3://charmtx-python-doc/${{inputs.module_name}}/${VERSION}/

      - name: Upload to s3 (dry run)
        run: |
          VERSION=${{ github.ref_name }}
          echo $VERSION
          aws s3 sync html_docs/ s3://charmtx-python-doc/${{inputs.module_name}}/${VERSION}/
        if: startsWith(github.ref, 'refs/tags/v')
